:root{
    --background-color:#1f2937;
    --primary-font: 'Roboto','Arial', sans-serif;
    --text-color:#f9faf8;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-color)
}

.section-padding{
    padding: 3rem 10rem;
}

a{
    text-decoration: none;
}

/* NAVBAR */

nav{
    background: var(--background-color);
    padding: 1rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    font-size: 24px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li{
    font-size: 18px;
}

/* HERO */

.hero-section{
    background: var(--background-color);
    display: flex;
}

.hero-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-title{
    font-size: 48px;
}

.hero-desc{
    font-size: 18px;
}

.hero-btn{
    background: blue;
    outline: none;
    border: none;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.hero-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: gray;
}

/* CARDS */

.cards-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.cards-section h3{
    color: var(--background-color);
}

.cards{
    display: flex;
    gap: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 150px;
}

.card .card-box{
    height: 150px;
    width: 100%;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.card .card-desc{
    color: var(--background-color);
}

/* QUOTE */

.quote-section{
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.quote-section h3{
    color: var(--background-color);
}

.quote-section p em{
    font-size: 36px;
    color: var(--background-color);

}

/* CTA */

.cta-section{
    background: #f9faf8;
    
}

.cta{
    width: 100%;
    background: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-radius: 10px;
}

.cta-headline{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cta-btn{
    background: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

/* FOOTER */

footer{
    background: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}